{% extends "dashboard_customer/layout.html" %}
{% load static %}
{% block title %}Order{% endblock %}

{% block content %}
<section class="py-5 order" id="order">
    <div class="container con-detail px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 mt-5">
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}" />
            </div>
            <div class="col-md-6">
                <div class="small text-category mb-1 mt-5"><strong>Status: </strong> Processing</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span><strong>Price: </strong> IDR {{ product.price|floatformat:0 }}</span>
                </div>
                <div class="small text-stock mb-1">
                    <strong>Quantity: </strong> {{ quantity }}
                </div>
                <div class="small text-stock mb-1">
                </div>
                <div class="d-flex mt-5">
                    <button class="btn btn-order flex-shrink-0 me-3" type="button" onclick="window.history.back()">Back</button>
                    <a href="/pay">
                        <button class="btn btn-order flex-shrink-0 me-3" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Pay Now
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
