{% extends "layout.html" %}
{% load static %}
{% block title %}Product{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="justify-content-center row mt-5">
            <div class="col-lg-12">
                <div class="mb-4">
                    <form action="{% url 'cust_productlist' %}" method="get" class="">
                        <div class="g-2 row d-flex row-search-product">
                            <div class="search-product d-flex">
                                <input 
                                    id="exampleFormControlInput1" 
                                    name="q" 
                                    placeholder="Search... " 
                                    type="search" 
                                    class="form-control" 
                                    value="{{ query|default:'' }}" 
                                />
                                <button type="submit" class="btn btn-search-product">Search
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="product">
    <div class="container">
        <div class="row justify-content-center">
            {% if products %}
                <div class="d-flex flex-wrap justify-content-center mx-auto">
                    {% for product in products %}
                        <div class="card-product-page me-4 position-relative">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <div class="overlay position-absolute top-0 bottom-0 start-0 end-0">
                                <div class="card-text-product-page position-absolute top-50 start-50 translate-middle text-center mt-4">
                                    <h3>{{ product.name }}</h3>
                                    <a href="{% url 'product_detail' product.slug %}?quantity={{ quantity }}">
                                        <button class="btn-product-Detail-page">Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center my-5 no-product">
                    <h3 class="mt-5">
                        {% if query %}
                            No Products Found for "{{ query }}"
                        {% else %}
                            No Products Available
                        {% endif %}
                    </h3>
                    <p class="text-muted">We are currently out of stock. Please check back later!</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
