{% extends "layout.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<section id="about" class="about section">
    <div class="container con-about section-title">
        <h2>About Us</h2></div>
        <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 content">
            <p>Your trusted partner in premium ice and purified water solutions. Established with a commitment to quality and customer 
            satisfaction, we specialize in delivering fresh crystal clear ice and mineral-rich drinking water that meet the highest 
            standards of purity</p>
            <i class="point-text bi-check2-circle"> <strong>Top Quality: </strong> Crystal-clear, safe, and refreshing ice and water.</i>
            <br><i class="point-text bi-check2-circle"> <strong>Reliable Service: </strong> Always on time for homes, businesses, and events.</i>
            <br><i class="point-text bi-check2-circle"> <strong>Eco-Friendly: </strong> Sustainable processes and packaging.</i>
          </div>
    
          <div class="col-lg-6">
            <p>At AquaCube, we believe hydration is the foundation of a healthy lifestyle. Whether you need ice to keep your beverages 
            perfectly chilled or water to quench your thirst, we are here to provide reliable, affordable, and eco-conscious solutions 
            for homes, businesses, and events. Our modern facilities and rigorous quality control ensure every cube of ice and every drop 
            of water is safe, clean, and refreshing. Choose AquaCube for unmatched freshness and exceptional service.</p>
          </div>
        </div>
      </div>
</section>

<section id="team" class="team section">
    <div class="container section-title mt-5">
      <h2>Team</h2>
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 ">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/team-dhiya.png' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ahmad Dhiya Ulhaqi</h4>
              <span>Team Leader</span>
              <div class="social">
                <a href="https://wa.me/+6285156579635"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/ahmaddh1ya"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ahmad-dhiya-ulhaqi-b81b4b221/"> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/team-dinda.png' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dinda Nur Afifah</h4>
              <span>Team Support</span>
              <div class="social">
                <a href="https://wa.me/+628115582588" ><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/dindannfh__"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/dinda-nur-afifah-a473271b2/"> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}