{% extends "layout.html" %}
{% load static %}
{% block title %}List Agent{% endblock %}

{% block content %}
    <section class="section">
        <div class="container con-agent">
            <div class="justify-content-center row mt-5">
                <div class="col-lg-12">
                    <div class="card-agent mb-4">
                        <form action="{% url 'listagent' %}" method="get" class="">
                            <div class="g-2 row d-flex row-search-product">
                                <div class="search-product d-flex">
                                    <input 
                                        id="exampleFormControlInput1" 
                                        name="q" 
                                        placeholder="Search... " 
                                        type="search" 
                                        class="form-control" 
                                        value="{{ query|default:'' }}" 
                                    />
                                    <button type="submit" class="btn btn-search-product">Search
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="agent-list">
                        {% for agent in agent_applications %}
                        <div class="agent-list-box card mt-4">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="agent-list-images">
                                            <a href="#"><img src="{{ agent.photo|default:'/static/images/default-avatar.png' }}" alt="" class="avatar-md img-thumbnail rounded-circle" /></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="agent-list-content mt-3 mt-lg-0">
                                            <h2 class="fs-19 mb-0">{{ agent.company_name }}</h2>
                                            <p class="text-muted mb-3 mt-1">{{ agent.company_email }}</p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="fas fa-map-marker-alt"></i>
                                                    {{ agent.company_address|default:"No address provided" }}
                                                </li>
                                                <li class="list-inline-item"><i class="fas fa-phone-alt"></i>
                                                    {{ agent.company_contact|default:"No phone provided" }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}