* {
  --color-white: #FAFAFA;
  --color-black: #1D242B;
  --color-dayblue: #C7EEFF;
  --color-darkblue: #0077C0;
}

/* NAVBAR SECTION */
.navbar {
  background-color: var(--color-white);
  height: 100px;
}
.navbar img{
  width: 120px;
}
.navbar li{
  color: #C7EEFA;
  font-weight: bold;
}
.navbar a{
  text-decoration: none;
}
.btn-signup {
  color: var(--color-black);
  font-weight: bold;
  border-radius: 10px;
  border-color: var(--color-black);
  width: 120px;
  height: 50px;
  font-size: 16px;
}
.btn-signup:hover {
  color: var(--color-darkblue);
  font-weight: bold;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-size: 16px;
}
.btn-signin {
  background-color: var(--color-darkblue);
  color: var(--color-black);
  font-weight: bold;
  width: 120px;
  height: 50px;
  font-size: 16px;
}
.btn-signin:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 16px;
}
.btn-cart-page {
  color: var(--color-black);
  font-weight: bold;
  width: 80px;
  height: 50px;
  font-size: 16px;
}
.btn-cart-page:hover{
  color: var(--color-darkblue);
}
.btn-signout {
  border: none;
  color: var(--color-black);
  font-weight: bold;
  width: 50px;
  height: 50px;
  font-size: 16px;
  background-color: var(--color-white);
}
.btn-signout:hover {
  color: var(--color-darkblue);
}
.btn-profile{
  border: none;
  width: 30px;
  height: 50px;
  color: var(--color-black);
  background-color: var(--color-white);
}
.btn-profile:hover {
  border-color: var(--color-darkblue);
  color: var(--color-darkblue);
}
.dropdown-toggle {
  color: var(--color-black);
}
.dropdown-toggle:hover {
  color: var(--color-darkblue);
}
.dropdown-menu  li a{
  color: var(--color-black);
  font-weight: 500;
}
.dropdown-menu  li a:hover{
  color: var(--color-darkblue);
}
.dropdown-menu li a i {
  padding-left: 5%;
}
.btn-receipt {
  color: var(--color-black);
  font-weight: bold;
  width: 40px;
  height: 50px;
  font-size: 16px;
}
.btn-receipt:hover {
  color: var(--color-darkblue);
}

/* BODY SECTION */
body{
  font-family: "Poppins", serif;
}

/* FOOTER SECTION */
.footer {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}
.footer .footer-top {
  padding-top: 50px;
}
.footer h4 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  color: var(--color-darkblue);
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul i {
  margin-right: 3px;
  font-size: 12px;
  line-height: 0;
  color: var(--color-black);
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul a {
  display: inline-block;
  color: var(--color-black);
  line-height: 1;
  text-decoration: none;
}
.footer .footer-contact p {
  margin-bottom: 5px;
}
.footer .social-links i {
  background-color: var(--color-darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border-color: var(--color-darkblue);
  color: var(--color-white);
  margin-right: 10px;
}
.footer .social-links i:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer .copyright p {
  margin-bottom: 0;
}
.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

/* HERO SECTION */
.hero-content img{
width: 100%;
height: 100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px;
  background-color: var(--color-darkblue);
  border-radius: 50px;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 60px;
  height: 60px;
  background-color: var(--color-black);
  border-radius: 50px;
}

/* ABOUT SECTION */
.col-about img{
  box-shadow: 10px 10px 0 3px var(--color-dayblue);
}
.col-about h2 {
  color: var(--color-darkblue);
  font-size: 40px;
  font-weight: bold;
}
.col-about span {
  color: var(--color-darkblue);
  font-weight: bold;
  text-align: justify;
}
.col-about p {
  color: var(--color-black);
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
}
.col-about button {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 220px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
.col-about button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 220px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
}
.about-container h2{
  color: var(--color-darkblue);
  font-size: 40px;
  font-weight: bold;
}
.about-image{
  border-radius: 200px; 
}

/* UNDER HERO SECTION */
.custom-card {
  background: linear-gradient(100deg, var(--color-dayblue), var(--color-darkblue));
  box-shadow: 10px 10px 0 3px var(--color-dayblue);
  width: 85rem;
  height: 200px;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}
.custom-card h2 {
  color: var(--color-white);
  font-size: 30px;
  font-weight: bold;
}
.custom-card p {
  color: var(--color-white);
  font-weight: 500;
}

.card-title {
  align-items: center;
}
.image-container {
  position: relative;
  width: 400px;
  height: 500px; 
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px; 
}

/* SERVICE SECTION */
.card-service {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(150deg, var(--color-dayblue), var(--color-darkblue));
  padding: 40px;
  box-shadow: 10px 10px 0 3px var(--color-dayblue);
}
.card-service:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: var(--color-darkblue);
  padding: 40px;
  box-shadow: 10px 10px 0 3px var(--color-dayblue);
}
.card-service h3 {
  font-size: 24px;
  color: var(--color-white);
  font-weight: bold;
}
.card-service p {
  font-size: 16px;
  color: var(--color-white);
}
.card-service .circle-bg {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--color-white);
}
.row-service h2{
  color: var(--color-darkblue);
  font-size: 40px;
  font-weight: bold;
}
.row-service p{
  color: var(--color-black);
  font-weight: 500;
}

/* AGENT SECTION */
.col-agent h2{
  color: var(--color-darkblue);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
.col-agent p{
  color: var(--color-black);
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
}
.col-agent button{
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
.col-agent button:hover{
  background-color: var(--color-black);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
}
.img-agent {
  box-shadow: 10px 10px 0 3px var(--color-dayblue);
}

/* PRODUCT SECTION */
.card-text h3 {
  color: var(--color-black);
  font-size: 30px;
  font-weight: bold;
}
.card-text p{
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
}
.row-product h2 {
  color: var(--color-darkblue);
  font-size: 40px;
  font-weight: bold;
}
.row-product .btn-product {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
.row-product .btn-product:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
  font-weight: bold;
}
.card-product .img:hover {
  background-color: rgba(19, 85, 139, 0.507);
  border-radius: 10px;
}
.card-product img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
}
.card-product .btn-product-Detail{
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
  font-weight: bold;
}
.card-product .btn-product-Detail:hover{
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
.btn-product-slide .circle-bg {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--color-black);
}
.btn-product-slide .circle-bg:hover {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--color-darkblue);
}


/* product page */

.card-product-page .img:hover {
  background-color: rgba(19, 85, 139, 0.507);
  border-radius: 10px;
  margin-top: 100px
}
.card-product-page img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  margin-top: 100px;
}
.card-product-page .btn-product-Detail-page{
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
  font-weight: bold;
}
.card-product-page .btn-product-Detail-page:hover{
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
/* .card-product-page:hover .additional-text {
  display: block;
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: var(--color-black);
} */
.card-text-product-page h3 {
  color: var(--color-black);
  font-size: 30px;
  font-weight: bold;
}
.card-text-product-page p{
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
}
.no-product h3{
  color: var(--color-black);
  font-size: 30px;
  font-weight: bold;
}
.no-product p{
  color: var(--color-black);
  font-size: 20px;
  font-weight: 500;
}

/* form page */
.sec-agent {
  margin-top: 150px;
}
.sec-agent h2{
  color: var(--color-darkblue);
  font-weight: bold;
  font-size: 50px;
}
.sec-agent label{
  color: var(--color-black);
  font-weight: 500;
}
.btn-submit-agent {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
  font-weight: bold;
}
.btn-submit-agent:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/* SIGN IN PAGE */
.signin-form{
padding: 200px;
}
.signin-form a{
  text-decoration: none;
}
.signin-form form{
  background: var(--color-dayblue);
  max-width: 800px;
  max-height: 800px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px var(--color-dayblue);
}
.signin-form .form-icon{
text-align: center;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 40px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
  box-shadow: var(--color-dayblue);
}
.signin-form .item{
  border-radius: 20px;
  margin-bottom: 25px;
  color: var(--color-darkblue);
  padding: 10px 20px;
}
.signin-form .create-account{
  background-color: var(--color-darkblue);
  color: var(--color-white);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-darkblue);
  font-weight: bold;
}
.signin-form .create-account:hover{
  background-color: var(--color-black);
  color: var(--color-white);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border-color: var(--color-black);
  font-weight: bold;
}

/* SIGN UP PAGE */
.signup-form{
  padding: 100px;
  }
  .signup-form form{
    background: var(--color-dayblue);
    max-width: 800px;
    max-height: 900px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px var(--color-dayblue);
  }
  .signup-form .form-icon{
  text-align: center;
    background-color: var(--color-white);
    border-radius: 50%;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
    box-shadow: var(--color-dayblue);
  }
  .signup-form .item{
    border-radius: 20px;
    margin-bottom: 25px;
    color: var(--color-darkblue);
    padding: 10px 20px;
  }
  .signup-form .create-account{
    background-color: var(--color-darkblue);
    color: var(--color-white);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: var(--color-darkblue);
    font-weight: bold;
  }
  .signup-form .create-account:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: var(--color-black);
    font-weight: bold;
  }

  /* CONTACT PAGE */
.contact{
  margin-top: 140px;
}
.contact .info-wrap {
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-darkblue);
  padding: 30px;
  height: 100%;
}
.contact h2{
  font-weight: bold;
  color: var(--color-darkblue);
  font-size: 50px;
}
.contact .info-item p{
  font-weight: 500;
}
.contact .info-item {
  margin-bottom: 40px;
}
.contact .info-item i {
  font-size: 20px;
  color: var(--color-black);
  background: var(--color-dayblue);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 15px;
}
.contact .info-item:hover i:hover{
  background: var(--color-darkblue);
}
.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--color-darkblue);
}
.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.contact .php-email-form {
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px var(--color-darkblue);
}
.contact .php-email-form label{
  color: var(--color-darkblue);
  font-weight: bold;
}
.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--color-black);
}
.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-darkblue);
}
.contact .php-email-form button[type=submit] {
  color: var(--color-white);
  background: var(--color-darkblue);
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 10px;
  font-weight: 500;
}
.contact .php-email-form button[type=submit]:hover {
  background: var(--color-black);
}

/* DETAIL PAGE */
.con-detail .text-category {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-black);
}
.con-detail img{
  width: 100%;
}
.con-detail h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--color-darkblue);
}
.con-detail span {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-black);
}
.con-detail .text-stock {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-black);
}
.con-detail a {
  text-decoration: none;
}
.con-detail p {
  font-weight: 500;
  color: var(--color-black);
  font-size: 20px;
  text-align: justify;
}
.con-detail .btn-minus-plus {
  border-radius: 5px;
  border-color: var(--color-black);
  color: var(--color-black);
}
.con-detail .btn-minus-plus:hover{
  border-color: var(--color-darkblue);
  color: var(--color-darkblue);
}
.con-detail input{
  border-radius: 5px;
  border-color: var(--color-black);
  color: var(--color-black);
}
.con-detail .btn-order{
  border-radius: 5px;
  border-color: var(--color-darkblue);
  background-color: var(--color-darkblue);
  color: var(--color-white);
  font-weight: 500;
  width: 200px;
  height: 50px;
}
.con-detail .btn-order:hover{
  border-color: var(--color-black);
  background-color: var(--color-black);
}
.con-detail .btn-cart{
  border-radius: 5px;
  border-color: var(--color-darkblue);
  background-color: var(--color-darkblue);
  color: var(--color-white);
  font-weight: 500;
  width: 200px;
  height: 50px;
}
.con-detail .btn-cart:hover{
  border-color: var(--color-black);
  background-color: var(--color-black);
}
.con-detail .input-contact {
  color: var(--color-darkblue);
  font-weight: bold;
}
.con-detail input[type=number]:focus,
.con-detail input[type=file]:focus,
.con-detail textarea:focus {
  border-color: var(--color-darkblue);
}


/* ABOUT PAGE */
.about{
  margin-top: 150px;
}
.about h2{
  color: var(--color-darkblue);
  font-weight: bold;
  font-size: 50px;
}
.about p{
  color: var(--color-black);
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
}
.about .point-text{
  color: var(--color-black);
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
}
.about .point-text:hover{
  color: var(--color-darkblue);
}
.team h2{
  color: var(--color-darkblue);
  font-weight: bold;
  font-size: 50px;
}
.team .team-member {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px var(--color-darkblue);
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  padding: 30px;
  height: 100%;
  margin-top: 20px;
}
.team .team-member .pic {
  overflow: hidden;
  width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
}
.team .team-member:hover {
  transform: translateY(-10px);
}
.team .team-member .member-info {
  padding-left: 30px;
}
.team .team-member h4 {
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}
.team .team-member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.team .team-member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.team .team-member .social a {
  background: var(--color-darkblue);
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 36px;
  height: 36px;
}
.team .team-member .social a i {
  color: var(--color-white);
  font-size: 16px;
  margin: 0 2px;
}
.team .team-member .social a:hover {
  background: var(--color-black);
}
.team .team-member .social a:hover i {
  color: var(--color-white);
}

.team .team-member .social a+a {
  margin-left: 10px;
}

/* ORDER PAGE */
.order{
  margin-top: 50px;
}
.order h2{
  color: var(--color-darkblue);
  font-weight: bold;
  font-size: 50px;
}

/* PAY PAGE */
.pay{
  margin-top: 50px;
}
.con-pay h2{
  color: var(--color-darkblue);
  font-weight: bold;
  font-size: 50px;
}

/* PROFILE PAGE */
.profile .card{
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-darkblue);
}
.profile .profile-img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  align-items: center;
  border-color: var(--color-darkblue);
}
.profile label{
  color: var(--color-darkblue);
  font-weight: bold;
}
.profile input{
  color: var(--color-darkblue);
  font-weight: 500;
  margin-top: 10px;
  height: 40px;
}
.profile input[type=text],
.profile input[type=email],
.profile textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--color-black);
}
.profile input[type=text]:focus,
.profile input[type=email]:focus,
.profile textarea:focus {
  border-color: var(--color-darkblue);
}
.profile .btn-back{
  color: white;
  background-color: var(--color-darkblue);
  width: 150px;
  border-radius: 10px;
  border-color: darkblue;
  font-weight: 500;
}
.profile .btn-back:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.profile .btn-update{
  color: white;
  background-color: var(--color-darkblue);
  width: 150px;
  border-radius: 10px;
  border-color: darkblue;
  font-weight: 500;
}
.profile .btn-update:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

/* LIST OF PAYMENT PAGE */
.listpay input{
  width: 200px;
  color: var(--color-darkblue);
}
.listpay th {
  color: var(--color-darkblue);
  font-weight: bold;
}
.listpay td{
  font-weight: 500;
}

/* LIST OF CART PAGE */
.cart th{
  color: var(--color-darkblue);
  font-weight: bold;
}
.card td{
  font-weight: 500;
}
.card .btn-update-quantity {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--color-darkblue);
}
.card .btn-update-quantity:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.card .btn-remove-cart {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--color-darkblue);
}
.card .btn-remove-cart:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.card .btn-back-cart {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--color-darkblue);
}
.card .btn-back-cart:hover{
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.card .btn-pay-cart {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--color-darkblue);
}
.card .btn-pay-cart:hover{
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.card .btn-checkout-cart {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border-color: var(--color-darkblue);
}
.card .btn-checkout-cart:hover{
  background-color: var(--color-black);
  border-color: var(--color-black);
}

/* LIST AGENT PAGE */
.con-agent {
  border-radius: 100px;
}
.con-agent .search-agent input[type=search],
.con-agent .search-agent textarea {
  font-size: 14px;
  width: 90%;
  height: 38px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 5px;
  color: var(--color-black);
  margin-right: 10px;
}
.con-agent .search-agent input[type=search]:focus,
.con-agent .search-agent textarea:focus {
  border-color: var(--color-darkblue);
}
.con-agent .btn-search-agent {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  font-weight: 500;
  border-radius: 5px;
  width: 150px;
  height: 38px;
}
.con-agent .btn-search-agent i{
  color: var(--color-white);
  width: 20%;
}
.con-agent .btn-search-agent:hover{
  background-color: var(--color-black);
}
.con-agent img{
  height: 7rem;
  width: 7rem;
  border-color: var(--color-darkblue);
}
.con-agent h2{
  color: var(--color-darkblue);
  font-weight: bold;
}
.con-agent p {
  color: var(--color-black);
  font-weight: 300;
}
.con-agent ul li{
  color: var(--color-black);
}
.con-agent ul li:hover{
  color: var(--color-darkblue);
}
.con-agent li {
  font-weight: 300;
}
