{% extends 'layout.html' %}
{% block title %}List of Order{% endblock %}
{% load static %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">List of Payment</h2>

  <div class="card listpay">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Product</th>
                          <th>Subtotal</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>ASD7237938</td>
                          <td>
                              <div class="d-flex align-items-center img-listpay">
                                <img src="{% static 'images/product1.png' %}" alt="" 
                                class="img-thumbnail me-3" style="max-width: 80px;">
                              </div>
                          </td>
                          <td>Rp 24000</td>
                          <td class="{% if status == 'Completed' %}text-success{% elif status == 'Shipped' %}text-warning{% elif status == 'Cancelled' %}text-danger{% endif %}">
                            Completed
                        </td>
                      </tr>

                      <tr>
                        <td>ASD7116338</td>
                          <td>
                              <div class="d-flex align-items-center img-listpay">
                                <img src="{% static 'images/product3.png' %}" alt="" 
                                class="img-thumbnail me-3" style="max-width: 80px;">
                              </div>
                          </td>
                          <td>Rp 80000</td>
                          <td class="{% if status == 'Completed' %}text-success{% elif status == 'Shipped' %}text-warning{% elif status == 'Cancelled' %}text-danger{% endif %}">
                            Canceled
                        </td>                        
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}
