{% extends "dashboard_agent/layout.html" %}
{% load static %}
{% block title %}Pay{% endblock %}

{% block content %}
<section class="py-5 pay" id="pay">
    <div class="container con-pay con-detail px-4 px-lg-5 my-5">
        <h2>Payment</h2>
        <div class="row gx-4 gx-lg-5 align-items-center mt-4">
            <div class="col-md-6">
                <div class="small text-category mb-1 mt-5"><strong>Status: </strong> Processing</div>
                <div class="fs-5 mb-5">
                    <span><strong>Total Price: </strong> IDR. 36,000</span>
                </div>

                <form>
                    <label for="image-upload" class="image-label">Upload Payment Proof</label>
                  

                    <input type="file" id="image-upload" name="image" accept="image/*">
                  </form>
                <div class="d-flex mt-5">
                    <a href="">
                        <button class="btn btn-order flex-shrink-0 me-3" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Pay
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}